 
 /* estilo de menu */

#btn-menu{
   display: none;
}
header label {
   display: none;
   width: 30px;
   height: 30px;
   padding: 10px;
   border-right: 1px, solid #fff;
}
header label:hover {
   cursor: pointer;
   background: rgba(0, 0, 0, 0.3);
   height: 100%;

}
.menu ul{
   margin: 0;
   list-style: none;
   padding: 0;
   display: flex;   
}
.menu li {
   border-right: 1px, solid rgb(31, 30, 30);
   background-color: #d39a74;
   margin-bottom: 10px;
}
.menu li:hover{
   background: rgba(0, 0,0, 0.3);
}
.menu li a {
   display: block;
   padding: 15px 70px;
   color: rgb(245, 240, 240);
   text-decoration: none;

}
.h3titu{
   text-align: center;
   color: gray;
}
.imgdeWeb{
   width: 150px;
   height: 150px;
}
 
 
 .Title{
    text-align: center;
    text-decoration: underline #292341;
 }
 .Group li {
    list-style: none;
 }
 .Group{
    width: 120px;
    border-radius:  10px;
    border: 1px solid #292341;
    margin-left: 3%;
    float: left;
 }
 .par{
    background: #a6a6a8;
    margin-left: -20px;
 }
 .impar{
    background: #dadadd;
    margin-left: -20px;
    
 }
 hr{
    width: 100%;
 }

 .Group16{
    width: 120px;
    border-radius:  10px;
    border: 1px solid #292341;
    margin-left: 3%;
    float: left;
    height: 140px;
 }
 .Group16 li{
    list-style: none;
 }

 #vs, #vs2, #vs3, #vs4, #vs5, #vs6, #vs7, #vs8, #vs9, #vs10, #vs11, #vs12, #vs13, #vs14, #vs15, #vs16{
   display: none;
 }
 .neutro{
   background-color: #f7f7f7;
   text-align: center;
 }
 .Groups{
   width: 100%;
   float: none;
 }
 .Quarter{
   width: 100%;
   float: none;
 }
 .quarter{
   margin-left: 25%;
 }
 .semi{
   margin-left: 35%;
 } 
 .finalgame{
   margin-left: 30%;
 }
 .win{
   margin-left: 43%;
 }
 .Manual{
   margin-left: 5%;
   margin-right: 3%;
   border: #292341 dashed;
   margin-bottom: 3%;
 }
 .Manual p{
   margin-left: 2%;
   margin-right: 2%;
   margin-bottom: 3%;
 }
 

 @media  (max-width:768px){
   .win{
      margin-left: 40%;
   }
   .finalgame{
      margin-left: 0;
   }
   .semi{
      margin-left: 15%;
   }
   .quarter{
      margin-left: 0;
   }
   #Round16{
      margin-left: 10%;
   }
   #Groups{
      margin-left: 10%;
   }
   header label {
      display: block;

  }
  .menu {
      position: absolute;
      background: #4e4e4e;
      width: 70%;
      margin-left: -70%;
      transition: all 0.5s;
  }
  .menu ul {
      flex-direction: column;
  }
  .menu li {
      border-top: 1px solid #fff;
  }
#btn-menu:checked ~ .menu{
  margin: 0;
}
  .button-container{
      width: 85%;
      height: 460px;
  }
#button-container{
      width: 85%;
  height: 560px;
  }
 }
 @media  (max-width:500px){
   .win{
      margin-left: 30%;
   }
   .finalgame500{
      margin-left: 13%;
   }
   .semi{
      margin-left: 15%;
   }
  
   .Round16500{
      margin-left: 10%;
   }
   #Groups{
      margin-left: 10%;
   }
 }

 @media  (min-width: 769px) and (max-width:1000px){
   #Groups {
      margin-left: 8%;
   }
   .Round16500{
      margin-left: 8%;
   }
   .quarter{
      margin-left: 12% ;
   }
   .semi{
      margin-left: 33%;
   }
   .finalgame500{
      margin-left: 10%;
   }
   .win{
      margin-left: 40%;
   }
   
 }
 @media  (min-width: 500px) and (max-width:562px){
   .Round16500{ margin-left: 13%;
   }

 }